.animal-show {
  position: relative;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  margin: 10px;

  color: green;
  width: 250px;
  box-shadow: rgb(0, 0, 0, 0.44) 0px 5px 5px;
}

.animal {
  height: 200px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.heart {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
